			<section class="navigation main-nav hide-nav">
				<a href="contact.html" class="navigation__link">about us</a>
				<a href="{%url 'landing'%}" class="navigation__link">partner</a>
				<a href="#" class="navigation__link">RIGX</a>
				<a href="#" class="navigation__link">RIG school</a>
				<a href="{%url 'events'%}" class="navigation__link">events</a>
				<a href="{%url 'book-shop'%}" class="navigation__link active">shops</a>
				<a href="shop-merch.html" class="navigation__link">affiliate</a>
			</section>
