@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
/* line 36, static/assets/sass/main.scss */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  width: 100%; }

/* line 42, static/assets/sass/main.scss */
body {
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: 'Rubik', sans-serif; }

/* line 50, static/assets/sass/main.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 58, static/assets/sass/main.scss */
a,
a:link {
  text-decoration: none;
  color: unset; }

/* line 64, static/assets/sass/main.scss */
img {
  object-fit: contain;
  -o-object-fit: contain; }

/* line 69, static/assets/sass/main.scss */
textarea {
  resize: none; }

/* line 74, static/assets/sass/main.scss */
html.sr .load-hidden {
  visibility: hidden; }

@keyframes loopHorizontal {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes rotate {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(-360deg); } }

/* line 98, static/assets/sass/main.scss */
.primary-heading {
  font-size: 2.5rem;
  line-height: 1;
  margin: 2rem;
  text-transform: capitalize; }

/* line 105, static/assets/sass/main.scss */
.secondary-heading {
  font-size: 2rem;
  line-height: 1;
  margin-block: 1rem;
  text-transform: capitalize; }

/* line 112, static/assets/sass/main.scss */
.tertiary-heading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-block: 1rem;
  text-transform: capitalize; }

/* line 120, static/assets/sass/main.scss */
.paragraph {
  margin-block: 1rem;
  line-height: 1.5;
  font-size: 1.5rem; }

@media screen and (max-width: 650px) {
  /* line 128, static/assets/sass/main.scss */
  .primary-heading {
    font-size: 2rem; }
  /* line 132, static/assets/sass/main.scss */
  .secondary-heading,
  .tertiary-heading {
    font-size: 1.8rem; } }

/* line 158, static/assets/sass/main.scss */
.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1rem;
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid rgba(30, 30, 30, 0.5);
  box-shadow: 0px 0.4rem 2.5rem rgba(0, 0, 0, 0.25);
  z-index: 50;
  position: fixed;
  left: 2rem;
  right: 2rem;
  top: 4rem; }
  /* line 176, static/assets/sass/main.scss */
  .navbar__logo {
    display: inline-block;
    margin-right: auto;
    justify-self: start;
    width: 15%; }
  /* line 183, static/assets/sass/main.scss */
  .navbar .logo {
    width: 100%; }

/* line 188, static/assets/sass/main.scss */
.navigation {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-inline: 2rem;
  flex-wrap: wrap; }

/* line 197, static/assets/sass/main.scss */
.search-icon {
  display: inline-block;
  margin-left: 2rem;
  cursor: pointer; }

@media screen and (max-width: 650px) {
  /* line 206, static/assets/sass/main.scss */
  .header .navbar {
    position: relative;
    left: 0;
    right: 0; }
  /* line 212, static/assets/sass/main.scss */
  .header .navigation {
    background-color: #1e293b;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    padding: 2rem 4rem;
    border-radius: 1rem; }
  /* line 221, static/assets/sass/main.scss */
  .header .navbar__logo {
    width: 38%; } }

/* line 227, static/assets/sass/main.scss */
.btn {
  min-width: max-content;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  border: unset;
  outline: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 239, static/assets/sass/main.scss */
  .btn a {
    color: inherit; }

/* line 244, static/assets/sass/main.scss */
.btn-primary {
  font-size: 2rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  background-color: #ec992f;
  color: #fff; }

/* line 253, static/assets/sass/main.scss */
.grid {
  display: grid;
  width: 100%; }

/* line 258, static/assets/sass/main.scss */
.col-3 {
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  justify-content: space-between;
  gap: 2rem; }

/* line 264, static/assets/sass/main.scss */
.card {
  padding: 2rem;
  border-radius: 0.5rem; }

/* line 269, static/assets/sass/main.scss */
.split-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto; }
  /* line 279, static/assets/sass/main.scss */
  .split-2__txt {
    width: 60%; }
  /* line 283, static/assets/sass/main.scss */
  .split-2__img {
    width: 35%; }
    /* line 286, static/assets/sass/main.scss */
    .split-2__img .main-img {
      width: 100%; }

@media screen and (max-width: 650px) {
  /* line 294, static/assets/sass/main.scss */
  .split-2 {
    flex-direction: column;
    padding: 4rem;
    width: 100%; }
    /* line 299, static/assets/sass/main.scss */
    .split-2__txt {
      width: 100%; }
    /* line 303, static/assets/sass/main.scss */
    .split-2__img {
      width: 80%; } }

/* line 311, static/assets/sass/main.scss */
.icon {
  height: 2rem;
  aspect-ratio: 1/1; }

/* line 316, static/assets/sass/main.scss */
.primary-color {
  color: #ec992f; }

/* line 320, static/assets/sass/main.scss */
.primary-bg {
  background-color: #ec992f; }

/* line 324, static/assets/sass/main.scss */
.hidden {
  display: none !important; }

/* line 328, static/assets/sass/main.scss */
.active {
  border-bottom: 2px solid #ec992f; }
